/* Reduce the vertical space between lines in code blocks. Required to */
/* make Unicode pretty printing appear correctly. */
pre {
    line-height: 120% !important;
}

article pre {
    line-height: 120% !important;
}

/* Completely disable blockquotes. The Furo defaults make block quotes very*/
/* apparent. However, the parameter blocks from numpydoc render as block
 * quotes, which looks bad. Furthermore, it is very easy for things to
 * accidentally have block quotes due to the fact that RST makes indented
 * blocks render as a block quote (unlike Markdown which makes indented blocks
 * render as code). There aren't any places in the documentation that use a
 * block quote on purpose. */
blockquote {
    border-left: inherit;
    font-style: inherit;
    margin-left: inherit;
    margin-right: inherit;
    padding: inherit;
    background-color: inherit;
    margin-block-start: -0.5rem;
    margin-block-end: -0.5rem;
}

/* Version selector. See _templates/sidebar/versions.html */
.versions-header {
    color: white;
    padding: var(--sidebar-item-spacing-vertical) var
             (--sidebar-item-spacing-horizontal);
    margin: 1rem 0rem;
}
.current-version {
    background-color: #2f431e;
}
.versions-not-found {
    color: white;
    font-style: italic;
    padding: var(--sidebar-item-spacing-vertical) var(--sidebar-item-spacing-horizontal);
}

/* Make the "SymPy documentation" text bold */
.sidebar-brand-text {
    font-weight: bold;
}

/* Make top-level items in the sidebar bold */
.sidebar-tree .toctree-l1>.reference, .sidebar-tree .toctree-l1>label .icon {
    font-weight: bold !important;
}
/* Indicate the current page using a background color rather than bold text */
.sidebar-tree .current-page>.reference {
    font-weight: normal;
    background-color: #2f431e;
}
/* Make sure the 'a' colors below don't affect the sidebar*/
.sidebar-tree .icon, .sidebar-tree .reference {
    color: var(--color-sidebar-link-text) !important;
}

/* Make the "class", "property" and so on before function names in the API*/
/* docs bold. */
em.property:first-child {
    font-weight: bold;
}

.admonition.warning>.admonition-title {
    color: white;
}

/* Makes the text look better on Mac retina displays (the Furo CSS disables*/
/* subpixel antialiasing). */
body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

/* Disable upcasing of headers 4+ (they are still distinguishable by*/
/* font-weight and size) */
h4, h5, h6 {
    text-transform: inherit;
}

/* Make "Examples" and "Parameters" headers easier to see */
p.rubric, dl.c .field-list dt, dl.cpp .field-list dt, dl.js .field-list dt,
dl.py .field-list dt, dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .field-list>dt {
    text-transform: none;
    font-weight: 600;
    font-size: 120%;
}

/* Disable underlines on links except on hover, and give visited links a*/
/* darker green color. */
a {
    text-decoration: none;
}
a:visited {
    color: #307748;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited:hover {
    color: #307748;
    text-decoration: underline;
}

/* Change the background color of the code blocks (light mode). This should be*/
/* --color-code-background but setting it in conf.py doesn't work.*/
.highlight {
    background-color: hsl(80deg 100% 95%);
}

/* Improve the color contrast of various syntax highlighted elements in dark*/
/* mode  */

/* Module names and function and class definitions */
body:not([data-theme="light"]) .highlight .nn, body:not([data-theme="light"]) .highlight .nf, body:not([data-theme="light"]) .highlight .nc, body:not([data-theme="light"]) .highlight .fm {
    text-decoration: none;
    color: #71ADFF;
}
/* Numbers */
body:not([data-theme="light"]) .highlight .mi, body:not([data-theme="light"]) .highlight .mf {
    color: #51b2fd;
}
/* Builtins and self/cls*/
body:not([data-theme="light"]) .highlight .nb, body:not([data-theme="light"]) .highlight .bp {
    color: #2fbccd;
}
/* Tracebacks */
body:not([data-theme="light"]) .highlight .gt, body:not([data-theme="light"]) .highlight .gr {
    color: #ff8888;
}

/* Disable the fancy scrolling behavior when jumping to headers (this is too
   slow for long pages) */
html {
    scroll-behavior: auto;
}
