/*
 * default.css_t
 * ~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- default theme.
 *
 * :copyright: Copyright 2007-2013 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

@import url("classic.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* -- page layout ----------------------------------------------------------- */


















body {
    font-family: Open Sans, sans-serif;
    font-size: 100%;
    background-color: #293b1b;
    color: #000;
    margin: 0;
    padding: 0;
}

div.document {
    background-color: #3b5526;
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 200px 0 230px;
}

div.body {
    background-color: #FFFFFF;
    color: #000000;
    padding: 0 20px 30px 20px;
}

div.footer {
    color: #DDDDDD;
    width: 100%;
    padding: 9px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

div.footer a {
    color: #DDDDDD;
    text-decoration: underline;
}

div.related {
    background-color: #2f441e;
    line-height: 30px;
    color: #DDDDDD;
}

div.related a {
    color: #81B953;
}

div.sphinxsidebar {
}

div.sphinxsidebar h3 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #DDDDDD;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

div.sphinxsidebar h3 a {
    color: #DDDDDD;
}

div.sphinxsidebar h4 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #DDDDDD;
    font-size: 1.3em;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
}

div.sphinxsidebar p {
    color: #DDDDDD;
}

div.sphinxsidebar p.topless {
    margin: 5px 10px 10px 10px;
}

div.sphinxsidebar ul {
    margin: 10px;
    padding: 0;
    color: #DDDDDD;
}

div.sphinxsidebar a {
    color: #81B953;
}

div.sphinxsidebar input {
    border: 1px solid #81B953;
    font-family: sans-serif;
    font-size: 1em;
}


/* for collapsible sidebar */
div#sidebarbutton {
    background-color: #4F663C;
}


/* -- hyperlink styles ------------------------------------------------------ */

a {
    color: #29A329;
    text-decoration: none;
}

a:visited {
    color: #307748;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* -- body styles ----------------------------------------------------------- */

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f2f2f2;
    font-weight: normal;
    color: #2f441e;
    border-bottom: 1px solid #ccc;
    margin: 20px -20px 10px -20px;
    padding: 3px 0 3px 10px;
}

div.body h1 { margin-top: 0; font-size: 200%; }
div.body h2 { font-size: 160%; }
div.body h3 { font-size: 140%; }
div.body h4 { font-size: 120%; }
div.body h5 { font-size: 110%; }
div.body h6 { font-size: 100%; }

a.headerlink {
    color: #AAAAAA;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: #AAAAAA;
    color: white;
}

div.body p, div.body dd, div.body li {
    text-align: left;
    line-height: 130%;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.admonition p {
    margin-bottom: 5px;
}

div.admonition pre {
    margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
    margin-bottom: 5px;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

pre {
    font-family: DejaVu Sans Mono, monospace;
    font-size: 100%;
    padding: 5px;
    background-color: unset;
    color: unset;
    line-height: 120%;
    border: 1px solid #ac9;
    border-left: none;
    border-right: none;
}

tt {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 0.95em;
}

th {
    background-color: #ede;
}

.warning tt {
    background: #efc2c2;
}

.note tt {
    background: #d6d6d6;
}

.viewcode-back {
    font-family: sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

/*
To highlight inline code blocks
*/
code{
    background-color: #ECF0F3;
    border-radius: 3px;
    padding: 2px;
}


p.rubric {
    font-size: 18px;
    color: #2f441e;
    font-family: "Trebuchet MS", sans-serif;
}

/*
To fit long MathJax equations inside the document body
*/
.MathJax_Display {
    overflow: auto hidden;
}