[run]
parallel = True
branch = True
source = sympy
omit =
    */tests/*
    */benchmarks/*
    */sympy/integrals/rubi/rules/*
    */sympy/plotting/pygletplot/*
    */conftest.py
data_file = $TRAVIS_BUILD_DIR/.coverage

[report]
exclude_lines =
    \#.*pragma:\s*no.?cover
    ^\s*if SYMPY_DEBUG:
show_missing = True
