# Before editing this file, run bin/mailmap_update.py. It will
# inform you about the types of entries needed here. See HELP
# below for guidance if needed.
#
# After making entries to .mailmap,
#
#    1) re-run bin/mailmap_update.py; if no further edits are needed,
#    2) run bin/authors_update.py to update AUTHORS and see which
#       authors are being added. If no error is raised, and no changes
#       are desired,
#    3) commit the results, e.g.
#
#         $ git commit -am 'Update .mailmap/AUTHORS. Welcome to SymPy!'
#       or
#         $ git commit -am 'Add Foo to AUTHORS. Welcome to SymPy!'
#
# HELP
#
# Entries in this file are made for two reasons: to merge git
# authors that are one in the same or to simply change how the
# name and/or address of an author appears. Either can be done
# with an entry to this file like
#
#     Proper Name <Proper@email> commit name <commit@email>
#     \-----------+------------/ \----------+-------------/
#                 |                         |
#              replace                     find
#
# The email (or name and email) in the "find" part of the entry will
# be used in a case-insensitive way to identify a git author and
# replace it with whatever is included in the "replace" part:
#
#     author                           author
#     before    .mailmap entry         after
#     --------- ---------------------- -----------
#               Foo <Email>
#     A <Email> ---------------------> Foo <Email>
#     B <eMAIL> ---------------------> Foo <eMAIL>
#
#               <Email> <email>
#     A <Email> ---------------------> A <Email>
#     B <eMAIL> ---------------------> B <Email>
#
#               Foo <Email> <email>
#     A <Email> ---------------------> Foo <Email>
#     B <eMAIL> ---------------------> Foo <Email>
#
#               Foo <EMAIL> b <email>
#     A <Email> ---------------------> same
#     B <Email> ---------------------> Foo <EMAIL>
#     b <eMAIL> ---------------------> Foo <EMAIL>
#
#               Foo <Email> b <email>
#               Foo <Email> <liame>
#     A <Liame> ---------------------> Foo <Email>
#     B <Email> ---------------------> Foo <Email>
#     b <eMAIL> ---------------------> Foo <Email>
#     c <eMAIL> ---------------------> same
#
# See also: 'git shortlog --help' and 'git check-mailmap --help'.
#
Ondřej Čertík <ondrej@certik.cz> ondrej.certik <devnull@localhost>
Ondřej Čertík <ondrej@certik.cz> <ondrej.certik@gmail.com>
Ondřej Čertík <ondrej@certik.cz> <ondrej@certik.us>
Ondřej Čertík <ondrej@certik.cz>
Fredrik Johansson <fredrik.johansson@gmail.com> fredrik.johansson <devnull@localhost>
<fredrik.johansson@gmail.com> <fredrik@airy.(none)>
Fredrik Johansson <fredrik.johansson@gmail.com>
Kirill Smelkov <kirr@landau.phys.spbu.ru> convert-repo <devnull@localhost>
Kirill Smelkov <kirr@landau.phys.spbu.ru> kirill.smelkov <devnull@localhost>
Mateusz Paprocki <mattpap@gmail.com> mattpap <devnull@localhost>
Jason Gedge <inferno1386@gmail.com> inferno1386 <devnull@localhost>
Robert Schwarz <lethargo@googlemail.com> lethargo <devnull@localhost>
Sebastian Krämer <basti.kr@gmail.com> basti.kr <devnull@localhost>
David Roberts <dvdr18@gmail.com> David Roberts (dvdr18 [at] gmail [dot] com) <devnull@localhost>
Pearu Peterson <pearu.peterson@gmail.com> pearu.peterson <devnull@localhost>
Brian Jorgensen <brian.jorgensen@gmail.com> brian.jorgensen <devnull@localhost>
Chris Wu <chris.wu@gmail.com> Chris.Wu <devnull@localhost>
<jnebos@gmail.com> Jurjen N.E. Bos <devnull@localhost>
Goutham Lakshminarayan <dl.goutham@gmail.com> Goutham <devnull@localhost>
Fabian Pedregosa <fabian@fseoane.net>
Fabian Pedregosa <fabian@fseoane.net> <fabian@debian.(none)>
Saroj Adhikari <adh.saroj@gmail.com>
Rizgar Mella <rizgar.mella@gmail.com> <RizgarMella rizgar.mella@gmail.com>
Jezreel Ng <jezreel@gmail.com>
James Pearson <xiong.chiamiov@gmail.com>
Cristóvão Sousa <crisjss@gmail.com>
Addison Cugini <ajcugini@gmail.com>
Addison Cugini <ajcugini@gmail.com> <addisonc@csmpm4z6d1ax.local>
Addison Cugini <ajcugini@gmail.com> <addisonc@pcp065368pcs.dhcp.calpoly.edu>
<abrombo@verizon.net> <brombo@GA.(none)>
Alexey U. Gudchenko <proga@goodok.ru>
Vinzent Steinberg <vinzent.steinberg@gmail.com> <Vinzent.Steinberg@gmail.com>
Vinzent Steinberg <vinzent.steinberg@gmail.com> <vinzent.steinberg@googlemail.com>
Chris Smith <smichr@gmail.com>
Chris Smith <smichr@gmail.com> <Donna Smith@.(none)>
Brian E. Granger <ellisonbg@gmail.com>
Benjamin McDonald <mcdonald.ben@gmail.com>
Prafullkumar P. Tale <hector1618@gmail.com> <Hector1618@gmail.com>
Øyvind Jensen <jensen.oyvind@gmail.com>
Jeremias Yehdegho <j.yehdegho@gmail.com> <aevirex@aleph.(none)>
Oleksandr Gituliar <gituliar@gmail.com>
Renato Coutinho <renato.coutinho@gmail.com>
Thomas Wiecki <thomas.wiecki@gmail.com> <thomas.wieki@gmail.com>
Thomas Wiecki <thomas.wiecki@gmail.com> <whyking@Lateralus.(none)>
<felix.kaiser@fxkr.net> <kaiser.fx@gmail.com>
<felix.kaiser@fxkr.net> <whatfxkr@gmail.com>
<aterrel@uchicago.edu> <andy.terrel@gmail.com>
<aterrel@uchicago.edu> <aterrel@enthought.com>
Nicolas Pourcelot <nicolas.pourcelot@gmail.com>
Min Ragan-Kelley <benjaminrk@gmail.com>
Bradley Froehle <brad.froehle@gmail.com>
Matthew Rocklin <mrocklin@cs.uchicago.edu> <mrocklin@gmail.com>
Bilal Akhtar <bilalakhtar@ubuntu.com> <bilalakhtar96@yahoo.com>
David Li <l33tnerd.li@gmail.com> unknown <David@David-PC.(none)>
David Li <l33tnerd.li@gmail.com> <li.davidm96@gmail.com>
David Ju <Sgtmook314@gmail.com> David Ju <david@David-PC.(none)>
David Marek <h4wk.cz@gmail.com> <davidm@atrey.karlin.mff.cuni.cz>
Gilbert Gede <gilbertgede@gmail.com> <ggede@Gilbert-Gedes-MacBook.local>
Gilbert Gede <gilbertgede@gmail.com> <ggede@ucdavis.edu>
Ronan Lamy <ronan.lamy@gmail.com> <Ronan.Lamy@normalesup.org>
Toon Verstraelen <Toon.Verstraelen@UGent.be> <toon.verstraelen@gmail.com>
Toon Verstraelen <Toon.Verstraelen@UGent.be> <toon.verstraelen@ugent.be>
Andrej Tokarčík <androsis@gmail.com>
Tomáš Bambas <tomas.bambas@gmail.com>
Roberto Colistete, Jr. <roberto.colistete@gmail.com>
Robert Cimrman <cimrman3@ntc.zcu.cz> <robert.cimrman@gmail.com>
Raymond Wong <rayman_407@yahoo.com> <rayman@CoolGuyJr.(none)>
Raymond Wong <rayman_407@yahoo.com> <rayman@CoolGuyJr>
Raymond Wong <rayman_407@yahoo.com> <rayman@CoolGuy.(none)>
Luke Peterson <hazelnusse@gmail.com>
Davy Mao <e_equals_mass_speed_light_squared@hotmail.com>
Nathan Alison <nathan.f.alison@gmail.com> <nathan@ubuntu.(none)>
Raoul Bourquin <raoulb@bluewin.ch>
Raoul Bourquin <raoulb@bluewin.ch> <raoulb@bluewin.chh>
Sachin Irukula <sachin.irukula@gmail.com>
Siddhanathan Shanmugam <siddhanathan@gmail.com>
Siddhanathan Shanmugam <siddhanathan@gmail.com> <siddhu@siddhu-laptop.(none)>
Jim Zhang <Hyriodula@gmail.com>
Angus Griffith <16sn6uv@gmail.com>
Timothy Reluga <treluga@math.psu.edu> <tcr-public2@psu.edu>
Saurabh Jha <saurabh.jhaa@gmail.com>
<jo@durchholz.org> <toolforger@durchholz.org>
Arpit Goyal <agmps18@gmail.com>
Tom Bachmann <e_mc_h2@web.de> <ness987@googlemail.com>
Rom le Clair <jacen.guardian@gmail.com>
Manoj Babu K. <manoj.babu2378@gmail.com>
Ljubiša Moćić <3rdslasher@gmail.com>
Oscar Benjamin <oscar.j.benjamin@gmail.com> <oscar@kar-wench.(none)>
Jens H. Nielsen <jenshnielsen@gmail.com>
Niklas Thörne <notrupertthorne@gmail.com>
Marek Šuppa <mr@shu.io>
Prasoon Shukla <prasoon92.iitr@gmail.com>
Sachin Joglekar <srjoglekar246@gmail.com>
Sachin Joglekar <srjoglekar246@gmail.com> <root@sachin-Inspiron-5520.(none)>
Stefen Yin <zqyin@ucdavis.edu>
Manoj Kumar <manojkumarsivaraj334@gmail.com>
Benjamin Fishbein <fishbeinb@gmail.com>
Chetna Gupta <cheta.gup@gmail.com>
Rishabh Dixit <rishabhdixit11@gmail.com>
Mary Clark <mary.spriteling@gmail.com> <meclark246@gmail.com>
Mary Clark <mary.spriteling@gmail.com> <meclark256@gmail.com>
Akshit Agarwal <akshit.jiit@gmail.com>
Colleen Lee <colleenclee@gmail.com> <clee@coursera.org>
Amit Jamadagni <bitsjamadagni@gmail.com>
Seshagiri Prabhu <seshagiriprabhu@gmail.com>
Shravas K Rao <shravas@gmail.com>
Ananya H <ananyaha93@gmail.com>
Nichita Utiu <nikita.utiu+github@gmail.com> <nichitautiu@nichitautiu-desktop.(none)>
Matthew Hoff <mhoff14@gmail.com> <mhoff@calpoly.edu>
Tarang Patel <tarangrockr@gmail.com> <tarang@ubuntu.ubuntu-domain>
Thilina Rathnayake <thilinarmtb@gmail.com>
Pradyumna <pradyu1993@gmail.com>
Francesco Bonazzi <franz.bonazzi@gmail.com> <francesco.bonazzi@mpikg.mpg.de>
Francesco Bonazzi <franz.bonazzi@gmail.com> <none@universe.org>
Dmitry Batkovich <batya239@gmail.com>
Yuriy Demidov <iurii.demidov@gmail.com>
Amit Saha <amitsaha.in@gmail.com> <asaha@redhat.com>
Heiner Kirchhoffer <Heiner.Kirchhoffer@gmail.com> <kirchhoffer@ipam040138mbp.local>
David Joyner <wdjoyner@gmail.com>
David Joyner <wdjoyner@gmail.com> <wdj@tinah.(none)>
Jason Moore <moorepants@gmail.com>
Alkiviadis G. Akritas <akritas@uth.gr>
Pablo Puente <ppuedom@gmail.com> <ppuedom@yahoo.com>
Paul Strickland <p.e.strickland@gmail.com>
Shipra Banga <bangashipra@gmail.com>
rathmann <rathmann.os@gmail.com> <peter@ubuntu.ubuntu-domain>
Akshay <akshaynukala95@gmail.com>
Akshay <akshaynukala95@gmail.com> <akshayah3@users.noreply.github.com>
Rajath Shashidhara <rajaths.rajaths@gmail.com>
Buck Shlegeris <buck2@bruceh15.anu.edu.au>
Buck Shlegeris <buck2@bruceh15.anu.edu.au> <buck2@Bucks-MacBook-Pro.local>
Jonathan Miller <jdmiller93@gmail.com>
Sambuddha Basu <sammygamer@live.com>
Aditya Shah <adityashah30@gmail.com>
Rajat Aggarwal <rajataggarwal1975@gmail.com>
Patrick Poitras <acebulf@gmail.com>
Thomas Hisch <t.hisch@gmail.com> <thomas.hisch@ims.co.at>
Thomas Hisch <t.hisch@gmail.com> <thomas.hisch@tuwien.ac.at>
Sushant Hiray <hiraysushant@gmail.com>
Anurag Sharma <anurags92@gmail.com> <sharmaan@iitk.ac.in>
Jim Crist <crist042@umn.edu>
Zeel Shah <kshah215@gmail.com>
Dammina Sahabandu <dmsahabandu@gmail.com>
Sahil Shekhawat <sahilshekhawat01@gmail.com>
Kundan Kumar <kundankumar18581@gmail.com>
Maciej Baranski <getrox.sc@gmail.com>
Zamrath Nizam <zamiguy_ni@yahoo.com> <zamiguy.ni@gmail.com>
Dhruvesh Vijay Parikh <parikhdhruvesh1@gmail.com>
Fawaz Alazemi <Mba7eth@gmail.com>
Venkatesh Halli <venkatesh.fatality@gmail.com>
Kaushik Varanasi <kaushik.varanasi1@gmail.com>
Leonid Blouvshtein <leonidbl91@gmail.com>
Duane Nykamp <nykamp@umn.edu>
Mihai A. Ionescu <ionescu.a.mihai@gmail.com>
Sarwar Chahal <chahal.sarwar98@gmail.com>
Hamish Dickson <hamish.dickson@gmail.com>
Peter Brady <petertbrady@gmail.com>
Peter Brady <petertbrady@gmail.com> <ptb@lanl.gov>
Craig A. Stoudt <craig.stoudt@gmail.com>
Raj <raj454raj@gmail.com>
John V. Siratt <jvsiratt@gmail.com>
Ted Dokos <tdokos@gmail.com> <t.dokos@gmail.com>
Akshat Jain <akshat.jain@students.iiit.ac.in>
Cody Herbst <cyherbst@gmail.com>
Nishith Shah <nishithshah.2211@gmail.com>
Tuan Manh Lai <laituan245@gmail.com>
Darshan Chaudhary <deathbullet@gmail.com>
Jayesh Lahori <jlahori92@gmail.com>
Lokesh Sharma <lokeshhsharma@gmail.com> <your_email@youremail.com>
Aaditya Nair <aadityanair6494@gmail.com>
Shivam Vats <shivamvats.iitkgp@gmail.com> <aries@aries-Inspiron-3521.(none)>
Shivam Vats <shivamvats.iitkgp@gmail.com> <shivamhzb@gmail.com>
Ramana Venkata <idlike2dream@gmail.com>
Ramana Venkata <idlike2dream@gmail.com> <vramana@users.noreply.github.com>
Peleg Michaeli <freepeleg@gmail.com> <peleg@palgo-at.com>
Kyle McDaniel <mcdanie5@illinois.edu> <mcdaniel221@gmail.com>
Kalevi Suominen <jksuom@gmail.com> <kalevi.suominen@helsinki.fi>
Dustin Gadal <Dustin.Gadal@gmail.com> <dustin.gadal@gmail.com>
Colin B. Macdonald <cbm@m.fsf.org>
Colin B. Macdonald <cbm@m.fsf.org> <macdonald@maths.ox.ac.uk>
Chai Wah Wu <cwwuieee@gmail.com> <postvakje@users.noreply.github.com>
Adam Bloomston <adam@glitterfram.es> <mail@adambloomston>
Alex Lindsay <adlinds3@ncsu.edu> <lindsayad@users.noreply.github.com>
Devyani Kota <devyanikota@gmail.com> <divs.passion.18@gmail.com>
Alec Kalinin <alec.kalinin@gmail.com>
Konstantin Togoi <konstantin.togoi@gmail.com> <togoi.konstantin@outlook.com>
Longqi Wang <iqgnol@gmail.com>
Jennifer White <jcrw122@googlemail.com>
Jack Kemp <metaknightdrake-git@yahoo.co.uk>
Jack Kemp <metaknightdrake-git@yahoo.co.uk> <kempj@tplxdt003.nat.physics.ox.ac.uk>
Guillaume Gay <contact@damcb.com> <guillaume@mitotic-machine.org>
Gregory Ashton <gash789@gmail.com> <ga7g08@soton.ac.uk>
Prashant Tyagi <prashanttyagi221295@gmail.com>
Philippe Bouafia <philippe.bouafia@ensea.fr>
Juha Remes <jremes@outlook.com>
Matthew Davis <davisml.md@gmail.com> <mlda065@cse.unsw.edu.au>
Vinay Singh <csvinay.d@gmail.com> <vinay.035.kumar@gmail.com>
Sampad Kumar Saha <sampadsaha5@gmail.com>
Jiaxing Liang <liangjiaxing57@gmail.com>
Jiaxing Liang <liangjiaxing57@gmail.com> <jiaxingl@CS-DEAL-03.cs.sfu.ca>
Jens Jørgen Mortensen <jj@smoerhul.dk>
Björn Dahlgren <bjodah@gmail.com>
Shekhar Prasad Rajak <shekharrajak@live.com> <shekharstudy@ymail.com>
Arafat Dad Khan <arafat.da.khan@gmail.com>
Arafat Dad Khan <arafat.da.khan@gmail.com> <arafat@iitkpg.ac.in>
Aqnouch Mohammed <aqnouch.mohammed@gmail.com>
Meghana Madhyastha <meghana.madhyastha@gmail.com>
Tanu Hari Dixit <tokencolour@gmail.com>
Guo Xingjian <Seeker1995@gmail.com>
Shubham Tibra <shubh.tibra@gmail.com>
Bhautik Mavani <mavanibhautik@gmail.com>
Pablo Zubieta <pabloferz@yahoo.com.mx>
Asish Panda <asishrocks95@gmail.com>
Edward Schembor <eschemb1@jhu.edu>
Harshil Goel <harshil158@gmail.com>
Harshil Goel <harshil158@gmail.com> <darkcoderrises@users.noreply.github.com>
Lukas Zorich <lukas.zorich@gmail.com>
Shashank Agarwal <shashank.agarwal94@gmail.com>
Chaitanya Sai Alaparthi <achaitanyasai@gmail.com>
Abhinav Agarwal <abhinavagarwal1996@gmail.com>
Rishabh Daal <rishabhdaal@gmail.com>
Aravind Reddy <aravindreddy255@gmail.com>
Akshay Siramdas <akshaysiramdas@gmail.com>
Nitin Chaudhary <nitinmax1000@gmail.com>
Alex Argunov <sajkoooo@gmail.com>
Abhishek Garg <abhishekgarg119@gmail.com>
Gaurav Dhingra <gauravdhingra.gxyd@gmail.com>
Gaurav Dhingra <gauravdhingra.gxyd@gmail.com> <axyd0000@gmail.com>
Gaurav Dhingra <gauravdhingra.gxyd@gmail.com> <igauravdhingra@protonmail.com>
Krit Karan <kritkaran.b13@iiits.in> <kritkaran94@users.noreply.github.com>
Arihant Parsoya <parsoyaarihant@gmail.com>
Harsh Gupta <mail@hargup.in> <gupta.harsh96@gmail.com>
Kshitij Saraogi <KshitijSaraogi@gmail.com>
Langston Barrett <langston.barrett@gmail.com>
Devang Kulshreshtha <devang.kulshreshtha.cse14@itbhu.ac.in>
Mohammad Sadeq Dousti <msdousti@gmail.com>
Rohit Rango <rohit.rango@gmail.com>
Sergey Pestov <pestov-sa@yandex.ru>
Varun Garg <varun.garg03@gmail.com>
Rajat Thakur <rajatthakur1997@gmail.com>
Rajat Thakur <rajatthakur1997@gmail.com> <Rajat Thakur>
Rajat Thakur <rajatthakur1997@gmail.com> <rajatatthakur23@gmail.com>
Tanay Agrawal <tanay_agrawal@hotmail.com>
Mohit Chandra <mohit.chandra@research.iiit.ac.in>
Amit Kumar <dtu.amit@gmail.com>
Amit Kumar <dtu.amit@gmail.com> <aktech@users.noreply.github.com>
Amit Kumar <dtu.amit@gmail.com> <dtu.amit+gh@gmail.com>
Ruslan Pisarev <rpisarev@cloudlinux.com> <ruslan@rpisarev.org.ua>
Isuru Fernando <isuruf@gmail.com> <isuru.11@cse.mrt.ac.lk>
Arif Ahmed <arif.ahmed.5.10.1995@gmail.com>
Valeriia Gladkova <valeriia.gladkova@gmail.com>
Szymon Mieszczak <szymon.mieszczak@gmail.com>
Ranjith Kumar <ranjith.dakshana2015@gmail.com>
Rishabh Madan <rishabhmadan96@gmail.com>
Nicolás Guarín-Zapata <nicoguarin@gmail.com>
Markus Müller <markus.mueller.1.g@googlemail.com>
Marcel Stimberg <marcel.stimberg@ens.fr> <marcel.stimberg@inserm.fr>
Jainul Vaghasia <jainulvaghasia@gmail.com> <jainulvaghasia@D-10-157-53-226.dhcp4.washington.edu>
Pranjal Tale <pranjaltale16@gmail.com>
Jason Tokayer <jason.tokayer@gmail.com>
Jason Tokayer <jason.tokayer@gmail.com> <jason.tokayer@capitalone.com>
Theodore Han <theodorehan@hotmail.com> <theodorehan373@gmail.com>
Theodore Han <theodorehan@hotmail.com> <tqhan317@gmail.com>
Mauro Garavello <mauro.garavello@unimib.it>
Shikhar Jaiswal <jaiswalshikhar87@gmail.com>
Thomas Hunt <thomashunt13@gmail.com> <twhunt@users.noreply.github.com>
tborisova <ts.borisova3@gmail.com> <ts_borisova@abv.bg>
Dhia Kennouche <kendhia@gmail.com>
Dhia Kennouche <kendhia@gmail.com> <algheart@live.fr>
Elliot Marshall <Marshall2389@gmail.com> <marshall2389@gmail.com>
Manish Shukla <manish.shukla393@gmail> <manish.shukla393@gmail.com>
Manish Shukla <manish.shukla393@gmail> <shukla@ubuntu.ubuntu-domain>
Ray Cathcart <github@cathcart.us> <pix2@_nospam_.cathcart.us>
Sumith Kulal <sumith1896@gmail.com>
Richard Otis <richard.otis@outlook.com> <ovolve@users.noreply.github.com>
Richard Otis <richard.otis@outlook.com> <richard.otis@jpl.nasa.gov>
João Moura <operte@gmail.com>
Shivam Agarwal <knowthyself2503@gmail.com>
Christina Zografou <t8130048@dias.aueb.gr>
Fiach Antaw <fiach.antaw+github@gmail.com>
Nick Curtis <nicholas.curtis@uconn.edu> <arghdos@gmail.com>
Steph Papanik <spapanik21@gmail.com>
Zulfikar <zulfikar97@gmail.com>
Blair Azzopardi <bsdz@users.noreply.github.com>
Anjul Kumar Tyagi <anjul.ten@gmail.com>
Karthik Chintapalli <karthik.chintapalli@students.iiit.ac.in> <karthik.chintapalli@gmail.com>
Shikhar Makhija <shikharmakhija2@gmail.com>
Yathartha Joshi <yathartha32@gmail.com>
Harsh Jain <harshjniitr@gmail.com>
James Taylor <user234683@tutanota.com>
Micah Fitch <micahscopes@gmail.com> <fitchmicah@gmail.com>
ylemkimon <ylemkimon@naver.com> <mail@ylem.kim>
Peter Enenkel <peter.enenkel+git@gmail.com> <peter.enenkel+github@gmail.com>
Jithin D. George <jithindgeorge93@gmail.com>
Lev Chelyadinov <leva181777@gmail.com>
Sourav Ghosh <souravghosh2197@gmail.com>
Ethan Ward <etkewa@gmail.com> etkewa@gmail.com <qsRf9sGKy9rV>
Ethan Ward <etkewa@gmail.com>
Ethan Ward <etkewa@gmail.com> <ethanward@email.arizona.edu>
Nilabja Bhattacharya <nilabja10201992@gmail.com>
Akash Kundu <sk.sayakkundu1997@gmail.com>
Shubham Maheshwari <rmaheshwari05@gmail.com>
Pavel Tkachenko <paveltkachenko@email.com>
Ashish Kumar Gaurav <ashishkg0022@gmail.com>
Himanshu <hs80941@gmail.com>
Rob Drynkin <rob.drynkin@gmail.com>
Unknown <kunda@scribus.net>
Sayan Goswami <Sayan98@users.noreply.github.com>
Subhash Saurabh <subhashsaurabh419@gmail.com>
Vishal <vishalg2235@gmail.com>
Jeremey Gluck <jeremygluck@yahoo.com>
Akshat Maheshwari <akshat14714@gmail.com>
Poom Chiarawongse <eight1911@gmail.com> <Eight1911@users.noreply.github.com>
Poom Chiarawongse <eight1911@gmail.com> <15707729+Eight1911@users.noreply.github.com>
Leonid Kovalev <leonidvkovalev@gmail.com> <normalhuman@users.noreply.github.com>
Leonid Kovalev <leonidvkovalev@gmail.com> <leonid.traveling@gmail.com>
Jashanpreet Singh <jashansingh.4398@gmail.com>
Cristian Di Pietrantonio <cristiandipietrantonio@gmail.com>
P. Sai Prasanth <psai.prasanth.min16@itbhu.ac.in>
Cédric Travelletti <cedrictravelletti@gmail.com> Cedric <cedric@localhost.localdomain>
Ravi charan <ravicharan.vsp@gmail.com>
Nityananda Gohain <nityanandagohain@gmail.com>
Nicholas Bollweg <nick.bollweg@gmail.com> <nbollweg@continuum.io>
Johan Blåbäck <johan_bluecreek@riseup.net> <johan.blaback@cea.fr>
Adwait Baokar <adwaitbaokar18@gmail.com> abaokar-07 <adwaitbaokar18@gmail.com>
Rahil Hastu <rahilhastu@gmail.com> rahil hastu <rahilhastu@gmail.com>
Sidhant Nagpal <sidhantnagpal97@gmail.com> sidhantnagpal <sidhantnagpal97@gmail.com>
Sidhant Nagpal <sidhantnagpal97@gmail.com> “sidhantnagpal” <sidhantnagpal97@gmail.com>
Sidhant Nagpal <sidhantnagpal97@gmail.com> Sidhant Nagpal <36465988+sidhantnagpal@users.noreply.github.com>
Nikoleta Glynatsi <GlynatsiNE@cardiff.ac.uk> Nikoleta Glynatsi <glynatsine@cardiff.ac.uk>
Samyak Jain <samyak.jain2016a@vitstudent.ac.in> Samyak Jain <samtan106@gmail.com>
Avi Shrivastava <shrivastavaavi123@gmail.com> avi <shrivastavaavi123@gmail.com>
Gagandeep Singh <singh.23@iitj.ac.in> czgdp1807 <gdp.1807@gmail.com>
Gagandeep Singh <singh.23@iitj.ac.in> czgdp1807 <36567889+czgdp1807@users.noreply.github.com>
Gagandeep Singh <singh.23@iitj.ac.in> czgdp1807 <czgdp1807@gmail.com>
Gagandeep Singh <singh.23@iitj.ac.in> MathLover <36567889+czgdp1807@users.noreply.github.com>
Gagandeep Singh <singh.23@iitj.ac.in> czgdp1807 <singh.23@iitj.ac.in>
Gagandeep Singh <singh.23@iitj.ac.in> Gagandeep Singh <36567889+czgdp1807@users.noreply.github.com>
Gagandeep Singh <singh.23@iitj.ac.in> Gagandeep Singh <czgdp1807@gmail.com>
S.Y. Lee <sylee957@gmail.com> sylee957 <sylee957@gmail.com>
Yatna Verma <yatnavermaa@gmail.com> yatna <yatnavermaa@gmail.com>
Jared Lumpe <mjlumpe@gmail.com> Michael Jared Lumpe <mjlumpe@gmail.com>
Austin Palmer <ap4000@nyu.edu> austin <ap4000@nyu.edu>
Marduk Bolaños <mardukbp@mac.com> mardukbp <mardukbp@mac.com>
amsuhane <ayushsuhane99@iitkgp.ac.in> amsuhane <“ayushsuhane99@iitkgp.ac.in”>
Ritu Raj Singh <RituRajSingh878@gmail.com> Ritu Raj Singh <37741324+RituRajSingh878@users.noreply.github.com>
Ritu Raj Singh <RituRajSingh878@gmail.com> RituRajSingh878 <RituRajSingh878@gmail.com>
rationa-kunal <kunalgk1999@gmail.com> kunal <kunalgk1999@protonmail.com>
shiksha11 <shiksharawat01@gmail.com> shiksha11 <33157995+shiksha11@users.noreply.github.com>
Jogi Miglani <jmig5776@gmail.com> jmig5776 <jmig5776@gmail.com>
Supreet Agrawal <supreet11agrawal@gmail.com> stm <supreet11agrawal@gmail.com>
Bavish Kulur <bavishkulur@gmail.com> bavish2201 <bavishkulur@gmail.com>
Divyanshu Thakur <divyanshu@iiitmanipur.ac.in> Divyanshu <divyanshu@iiitmanipur.ac.in>
Shubham Kumar Jha <skjha832@gmail.com> ShubhamKJha <skjha832@gmail.com>
Frédéric Chapoton <fchapoton2@gmail.com> fchapoton <fchapoton2@gmail.com>
Salmista-94 <alejandrogroso@hotmail.com> alejandrogroso@hotmail.com <Salmista-94>
Jack <ivanenko@ucu.edu.ua> LilJohny <ivanenko@ucu.edu.ua>
Nabanita Dash <dashnabanita@gmail.com> Nabanita Dash <31562743+Naba7@users.noreply.github.com>
Rajiv Ranjan Singh <rajivperfect007@gmail.com> Rajiv Ranjan Singh <42106787+iamrajiv@users.noreply.github.com>
