Ondrej Certik <ondrej@certik.cz> ondrej.certik <devnull@localhost>
Fredrik Johansson <fredrik.johansson@gmail.com> fredrik.johansson <devnull@localhost>
Kirill Smelkov <kirr@landau.phys.spbu.ru> kirill.smelkov <devnull@localhost>
Kirill Smelkov <kirr@landau.phys.spbu.ru> convert-repo <devnull@localhost>
Mateusz Paprocki <mattpap@gmail.com> mattpap <devnull@localhost>
Fabian Pedregosa <fabian@fseoane.net> Fabian Seoane <fabian@fseoane.net>
Fabian Pedregosa <fabian@fseoane.net> fabian <fabian@debian.(none)>
Jason Gedge <inferno1386@gmail.com> inferno1386 <devnull@localhost>
Robert Schwarz <lethargo@googlemail.com> lethargo <devnull@localhost>
Sebastian Krämer <basti.kr@gmail.com> basti.kr <devnull@localhost>
David Roberts <dvdr18@gmail.com> David Roberts (dvdr18 [at] gmail [dot] com) <devnull@localhost>
Saroj Adhikari <adh.saroj@gmail.com> Saroj <adh.saroj@gmail.com>
Rizgar Mella <rizgar.mella@gmail.com> RizgarMella rizgar.mella@gmail.com <RizgarMella rizgar.mella@gmail.com>
Pearu Peterson <pearu.peterson@gmail.com> pearu.peterson <devnull@localhost>
Brian Jorgensen <brian.jorgensen@gmail.com> brian.jorgensen <devnull@localhost>
Chris Wu <chris.wu@gmail.com> Chris.Wu <devnull@localhost>
Jezreel Ng <jezreel@gmail.com>
James Pearson <xiong.chiamiov@gmail.com>
Cristóvão Sousa <crisjss@gmail.com>
