language: python
env:
  - TEST_DOCTESTS="true"
  - TEST_DOCTESTS="false"
python:
  - 2.5
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - "pypy"
matrix:
  include:
    - python: 2.7
      env:
        - TEST_GMPY="true"
        - TEST_DOCTESTS="true"
    - python: 2.7
      env:
        - TEST_GMPY="true"
        - TEST_DOCTESTS="false"
    - python: 3.3
      env:
        - TEST_GMPY="true"
        - TEST_DOCTESTS="true"
    - python: 3.3
      env:
        - TEST_GMPY="true"
        - TEST_DOCTESTS="false"
    - python: 2.7
      env: TEST_SPHINX="true"
  allow_failures:
    - python: "pypy"
before_install:
  - if [[ "${TEST_GMPY}" == "true" ]]; then
      sudo apt-get update -qq;
      sudo apt-get install -qq libgmp-dev;
      pip install "gmpy==1.16";
    fi
  - if [[ "${TEST_SPHINX}" == "true" ]]; then
      sudo apt-get install -qq graphviz inkscape texlive texlive-xetex;
      pip install "sphinx==1.1.3";
    fi
install:
  - if [[ $TRAVIS_PYTHON_VERSION == '3.2' || $TRAVIS_PYTHON_VERSION == '3.3' ]]; then python bin/use2to3; cd py3k-sympy; fi
  - python setup.py install
script:
  - bin/test_travis.sh
notifications:
  email: false
