recursive-include data *
recursive-include doc *
prune doc/_build
recursive-include examples *.py README

include sympy/utilities/mathml/data/*.xsl
include sympy/parsing/_latex/*.g4
include sympy/parsing/_latex/LICENSE.txt

include LICENSE
include TODO
include AUTHORS
include README.rst
