recursive-include data *
recursive-include doc *
prune doc/_build
recursive-include examples *.py README

include sympy/utilities/mathml/data/*.xsl

recursive-include sympy/parsing/latex *.g4 *.tokens *.interp *.txt
recursive-include sympy/parsing/autolev *.g4 *.tokens *.interp *.txt *.al

include LICENSE
include TODO
include AUTHORS
include README.rst
include bin/isympy
