mpmath
mypy; platform_python_implementation != "PyPy"  # Mypy's librt dependency isn't available on PyPy
sphinx-lint
pytest
pytest-xdist
pytest-timeout
pytest-split
pytest-doctestplus
hypothesis
flake8
flake8-comprehensions
ruff; sys_platform != "emscripten"  # exclude Pyodide
slotscheck
