furo
intersphinx-registry
jupyterlite-sphinx>=0.17.1
# earliest version of the Pyodide kernel that comes with Pyodide 0.27 and SymPy 1.13.3
# see https://pyodide.org/en/0.27.0/usage/packages-in-pyodide.html
# and https://jupyterlite-pyodide-kernel.readthedocs.io/en/latest/#with-pyodide
# for information on updating
jupyterlite-pyodide-kernel==0.4.7
linkify-it-py
matplotlib
matplotlib-inline
mpmath
myst-parser
scipy
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-math-dollar
sphinx-reredirects
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-jquery
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
