# ------------------------------------------------------------------ #
#                                                                    #
#              SymPy CI script for Github Actions                    #
#                                                                    #
#  Upload a nightly wheel to the Anaconda scientific-python channel  #
#                                                                    #
#         https://scientific-python.org/specs/spec-0004/             #
#                                                                    #
# ------------------------------------------------------------------ #

name: nightly-wheel-upload
on:
  push:
    branches:
      - master

jobs:
  nightly-wheel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: python -m pip install --upgrade pip build
      - run: python -m build --wheel

      - name: Upload wheel
        uses: scientific-python/upload-nightly-action@5748273c71e2d8d3a61f3a11a16421c8954f9ecf # 0.6.3
        with:
          artifacts_path: dist
          # This token is generated from anaconda.org
          # https://github.com/scientific-python/upload-nightly-action/issues/111
          anaconda_nightly_upload_token: ${{ secrets.ANACONDA_ORG_UPLOAD_TOKEN }}
