# ------------------------------------------------------------------ #
#                                                                    #
#           SymPy CI script for Github Actions                       #
#                                                                    #
#   Run on the release branch and builds the release artifacts.      #
#                                                                    #
# ------------------------------------------------------------------ #

name: release
on:
  push:
    branches:
      - '1.12'
  pull_request:
    branches:
      - '1.12'
env:
  release_branch: '1.12'
  release_version: '1.12rc1'
  previous_version: '1.11'

jobs:

  # -------------------- Build artifacts --------------------------- #

  build:

    runs-on: ubuntu-20.04
    steps:
      # Check out with full git history for authors check:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Build release files
        run: release/ci_release_script.sh ${{ env.release_version }} ${{ env.previous_version }}

      - name: Store release files
        uses: actions/upload-artifact@v3
        with:
          name: release_files
          path: release-${{ env.release_version }}

  # -------------------- Test installation ------------------------- #

  test-install:
    needs: [build]

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', 'pypy-3.8']

    name: Python ${{ matrix.python-version }} test install
    steps:
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Retrieve release files
        uses: actions/download-artifact@v2
        with:
          name: release_files

      - name: List files
        run: ls -R

      - name: Install wheel
        run: pip install sympy-${{ env.release_version }}-py3-none-any.whl

      - name: Run tests after install
        run: python -c 'import sympy; sympy.test()'
